h1 {
    font-family: Consolas;
    font-size: 60px;
    margin: 20px 0;
}

h2 {
    font-family: Consolas;
    margin: 10px 0;
}

body {
    text-align: center;
    background: #9e9e9e url(../images/wallpaper_poker.jpg);
    color: #4A4A4A;
    background-size: cover;
}

#tauler {
    border-radius: 10px;
    border: 1px solid #666;
    position: relative;
    background: #232 url(../images/table.jpg);
    margin: 0 auto;
    box-shadow: 0 -1px 0 #999, 0 1px 0 #999, inset 0;
}

#marcador {
    position: fixed;
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    background-color: #f9f9f9; /* Light background color */
    border: 2px solid #ccc; /* Border around the parent */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Padding around the content */
    width: 200px; /* Set width to fit content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

#time, #contadorClicks, #puntuacio {
    background-color: #f0f0f0; /* Blue background color */
    padding: 8px 12px; /* Padding inside child elements */
    border-radius: 5px; /* Rounded corners for child elements */
    margin-bottom: 8px; /* Spacing between child elements */
    border: 1px solid #ccc; /* Border around child elements */
}

#time {
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
}

#contadorClicks {
    font-size: 14px; /* Font size */
    color: black; /* Text color */
}

#muteMusic {
    background-color: #f0f0f0; /* Blue background color */
    width: 50px; /* Set width */
    height: 50px; /* Set height */
    position: fixed; /* Position the button relative to the browser window */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    z-index: 9999; /* Ensure the button appears on top of other elements */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%; /* Adjust the size of the icon */
    cursor: pointer; /* Change cursor to pointer */
}

#muteMusic.muted {
    background-image: url('../images/music.png'); /* URL to your custom muted icon */
}

#muteMusic {
    background-image: url('../images/muteMusic.png'); /* URL to your custom unmuted icon */
}

.tipusCartes {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.tipusCartes#pokemon {
    border: 1px solid black
}

.tipusCartes:hover, .tipusCartes.active {
    filter: grayscale(0%);
}

.tipusCartes.active {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.dificultat.seleccionat {
    transform: scale(1.1); /* Scale the element slightly */
    transition: transform 0.2s ease; /* Smooth transition for the scale effect */
}

.carta {
    /*width: 80px;	height: 120px;   /* deck */
    /* width: 111px; height: 111px;  /* pokemon */
    /* width: 79px;	height: 123px;   /* poker1 */
    
    position: absolute;
    -webkit-perspective: 300px; /* Chrome, Safari, Opera  */
    perspective: 300px;/*transition: all .3s; */
    top: 10px;
    left: 0px;
    transition: top 0.5s, left 0.5s; 
    
}

.carta.carta-match {
    opacity: 0; /* Hace que la carta desaparezca gradualmente cuando se empareja */
    transition: opacity 2s ease;
}
.carta-eliminada {
    opacity: 0; /* Hace que la carta desaparezca gradualmente cuando se elimina */
    transition: opacity 1s ease; /* Transición de opacidad durante 1 segundo */
}

.carta:hover .cara{
    box-shadow: 0 0 10px #aaa;
}

.cara {
    border-radius: 10px;
    width: 100%;	height: 100%;
    position: absolute;  /* per poder moure la carta */

    transition-property: transform, shadow;
    transition-duration: .5s;

    backface-visibility: hidden;
}


.darrera {
    background: #999 url(../images/deck.png) 0px -480px; /*cartes DECK*/
    /*background: #999 url(../images/poker1.png) 0px -496px; /*cartes POKER1*/
 }

.davant {
    background: #efefef url(../images/deck.png);/*cartes DECK*/
    /*background: #999 url(../images/poker1 .png); /*cartes POKER1*/
    transform: rotate3d(0,1,0,-180deg);
}


.carta-girada .darrera {
    transform: rotate3d(0,1,0,180deg);
}

.carta-girada .davant {
    transform: rotate3d(0,1,0,0deg);
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(120, 119, 119);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 300px;
    height: 50px;
    cursor: pointer;
}

/* Estilos para el pop-up */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.popup-content {
    text-align: center;
}

#returnMenu {
    padding: 10px 20px;
    background: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#play:hover {
    background-color: rgb(186, 184, 184);
}

#facil:hover {
    background-color:rgb(100, 227, 100);
}

#mitjana:hover {
    background-color:rgb(242, 194, 98);
}

#alta:hover {
    background-color:rgb(249, 112, 91);
}

#facil.seleccionat {
    background-color: rgb(54, 146, 25);
}

#mitjana.seleccionat {
    background-color: rgb(221, 160, 37);
}

#alta.seleccionat {
    background-color: rgb(204, 30, 30);
}


/* deck */
/* fila 120 - columna 80) */
/*
.carta1 {background-position: 0 0;}
.carta2 {background-position: -80px 0;} 
.carta3 {background-position: -160px 0;}
.carta4 {background-position: -240px 0;}
.carta5 {background-position: -320px 0;}
.carta6 {background-position: -400px 0;}
.carta7 {background-position: -480px 0;}
.carta8 {background-position: -560px 0;}
.carta9 {background-position: -640px 0;}
.carta10 {background-position: -720px 0;}
*/


/* pokemon */
/* fila 111 - columna 111 
.carta1{background-position:    0       0; }
.carta2{background-position: -111px     0; }
.carta3{background-position: -222px     0; }
.carta4{background-position: -333px     0; }
.carta5{background-position: -444px     0; }
.carta6{background-position: -555px     0; }
.carta7{background-position: -666px     0; }
.carta8{background-position:   -0    -111px; }


/* poker1 */
/* fila 124 - columna 79 
.carta1{background-position:    0     0  ; }
.carta2{background-position:  -79px   0  ; }
.carta3{background-position: -158px   0  ; }
/*...
.carta14{background-position:    0    -124px; }
.carta15{background-position:  -79px  -124px; }
.carta16{background-position:  -158px -124px; }
/*...
.carta39{background-position:    -948px -248px; }
/*...
.carta40{background-position:    0   -372px; }
/*...*/